# Data preparation
Please save data in a folder (`data`) and install dask, which performs lazy execution for dataframe, before executing the following cells.

```
pip install dask
pip install dask[dataframe]

```

In [1]:
import dask.dataframe as dd

In [2]:
auth_df = dd.read_csv('data/auth.txt', sep =",|@",  engine='python')

In the original paper, the author said the following fields of the data are used. 

> *Source user, Destination user, Source pc, Destination pc,
Authentication type, Logon type, Authentication orientation,
Success/failure.*

But, the original data has following fields:

> *Time, Source user@Domain,Destination user@Domain, Source computer, Destination computer, Authentication type, Logon type, Authentication orientation, Success/failure*

Therefore, we remove time and two domain fields.

In [3]:
drop_cols = ['1', 'C586', 'C586.1']
auth_df = auth_df.drop(drop_cols, axis=1)

In [4]:
auth_df.head()

,ANONYMOUS LOGON,ANONYMOUS LOGON.1,C1250,C586.2,NTLM,Network,LogOn,Success
0,ANONYMOUS LOGON,ANONYMOUS LOGON,C586,C586,?,Network,LogOff,Success
1,C101$,C101$,C988,C988,?,Network,LogOff,Success
2,C1020$,SYSTEM,C1020,C1020,Negotiate,Service,LogOn,Success
3,C1021$,C1021$,C1021,C625,Kerberos,Network,LogOn,Success
4,C1035$,C1035$,C1035,C586,Kerberos,Network,LogOn,Success