# Data preparation
Please save data in a folder (`data`) and install dask, which performs lazy execution for dataframe, before executing the following cells.

```
pip install dask
pip install dask[dataframe]

```

In [11]:
import dask
import dask.dataframe as dd

In [12]:
auth_cols = [
    "Time",
    "Src_usr@Src_domain",
    "Dest_user@Dest_domain",
    "Src_pc",
    "Dest_pc",
    "Auth_type",
    "Logon_type",
    "Auth_orient",
    "Success",
]
auth_df = dd.read_csv("data/auth.txt", names=auth_cols)

redteam_cols = ["Time", "Usr@Src_domain", "Src_pc", "Dest_pc"]
redteam_df = dd.read_csv("data/redteam.txt", names=redteam_cols)

In [13]:
auth_df.head()

,Time,Src_usr@Src_domain,Dest_user@Dest_domain,Src_pc,Dest_pc,Auth_type,Logon_type,Auth_orient,Success
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C1250,C586,NTLM,Network,LogOn,Success
1,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
2,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
3,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
4,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success

According to the paper, we filter machines in the column "Source user".

In [14]:
filtered_auth_df = auth_df[auth_df["Src_usr@Src_domain"].str.startswith("U")]

In [15]:
redteam_df.head()

     Time Usr@Src_domain  Src_pc Dest_pc
0  150885      U620@DOM1  C17693   C1003
1  151036      U748@DOM1  C17693    C305
2  151648      U748@DOM1  C17693    C728
3  151993     U6115@DOM1  C17693   C1173
4  153792      U636@DOM1  C17693    C294

For the first attack action, let's see the corresponding entry in the log data.

In [16]:
subset_auth_df = filtered_auth_df[filtered_auth_df.Time == 150885].head(30, npartitions=100)

In [17]:
subset_auth_df[subset_auth_df["Src_usr@Src_domain"].str.startswith("U620")]

,Time,Src_usr@Src_domain,Dest_user@Dest_domain,Src_pc,Dest_pc,Auth_type,Logon_type,Auth_orient,Success
35765,150885,U620@DOM1,U620@DOM1,C17693,C1003,NTLM,Network,LogOn,Success

In [ ]:
day = 86400